@import '../../variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-bottom: 36px;
    border-bottom: 4px solid $border-color;

    .logo {
        height: 21px;
    }

    @media screen and (max-width: 680px) {
        width: calc(100% - 32px);
        left: -18px;
        position: relative;
        padding: 0 32px 36px;
    }
}
