@import '../variables';

.featured-product {
  border-bottom: 4px solid $border-color;
  padding-bottom: 65px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;

    h1 {
      text-align: left;
      padding-left: 8px;
    }
  }

  &__image {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    text-align: right;

    h2, h3 {
      font-size: 22px;
      line-height: 24px;
      font-weight: 700;
      margin: 9px 0;
    }

    h3 {
      color: $secondary-color;
      text-transform: capitalize;
    }

    &__description {
      max-width: 690px;
      text-align: left;

      p {
        font-size: 18px;
        line-height: 27px;
        color: $secondary-color;
        white-space: break-spaces;
      }
    }

    &__related {
      > div {
        display: flex;
        margin-top: 27px;

        .related-product {
          width: 120px;

          margin-left: 30px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    &__details {
      margin-top: 54px;

      div {
        font-size: 16px;
        line-height: 18px;
        margin: 7px 0;
        color: $secondary-color;
      }
    }
  }
}
